<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    $robots
    <meta name="theme-color" content="#E9EAE4">
    <meta name="description" content="$page_description">
    <title>$page_title</title>
    $social_meta
    <link rel="icon" type="image/svg+xml" href="assets/favicon.svg">
    <link rel="preload" href="assets/fonts/InterVariable.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    $extra_scripts
  </head>
